<div class="container">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="registrationFormSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Firstname</label>
            <input type="text" id="registrationFormFirstname" class="form-control" [formControl]="registrationForm.get('firstname')"
                placeholder="Enter firstname">
            <small class="form-text text-danger"
                *ngIf="isLoginFormSubmited && registrationForm.get('firstname').invalid && (registrationForm.get('firstname').dirty || registrationForm.get('firstname').touched)">
                Please enter valide firstname.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Lastname</label>
            <input type="text" id="registrationFormLastname" class="form-control" [formControl]="registrationForm.get('lastname')"
                placeholder="Enter lastname">

            <small class="form-text text-danger"
                *ngIf="isLoginFormSubmited && registrationForm.get('lastname').invalid && (registrationForm.get('lastname').dirty || registrationForm.get('lastname').touched)">
                Please enter valide lastname.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" id="registrationFormEmail" class="form-control" [formControl]="registrationForm.get('email')"
                placeholder="Enter email">

            <small class="form-text text-danger"
                *ngIf="isLoginFormSubmited && registrationForm.get('email').invalid && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                Please enter valide email.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" id="registrationFormPasssword" class="form-control" [formControl]="registrationForm.get('password')"
                placeholder="Enter passowrd">

            <small class="form-text text-danger"
                *ngIf="isLoginFormSubmited && registrationForm.get('password').invalid && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
                Please enter valide passowrd.</small>
        </div>

        <button class="btn btn-primary" id="registrationFormSubmit" type="submit">Submit</button>
        <div class="mt-2">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" id="goToLoginPage">Go to Login page</a>
        </div>
    </form>
</div>